<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon matBadge="{{comment.reactions.length}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="comment.reactions.length === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="getUsersThatLikeTheComment()">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="editCommentContainer()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removeComment()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showEditCommentContainer">
    <mat-divider></mat-divider>
    <div class="edit-comment-container">
      <mat-form-field>
        <textarea id="newCommentBody" value="{{comment.body}}" matInput placeholder="Edit"></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="editComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
  </div>
</mat-card>